<div style="height: 95vh; width: 100%" class="p-4">
  <data-grid
    [columns]="columns"
    [dataSet]="dataSet"
    [evenRowsBackgroundColor]="undefined"
    [oddRowsBackgroundColor]="'#f2f2f2'"
    [headerBackgroundColor]="'#f3f4f5'"
    [sidemenuBackgroundColor]="'#f3f4f5'"
    [checkboxesBackgroundColor]="'#f3f4f5'"
    [showColumnsGrouping]="true"
    [leftPinnedBackgroundColor]="'#fff'"
    [rightPinnedBackgroundColor]="'#fff'"
    [bodyBackgroundColor]="'#fff'"
    [showVerticalBorder]="false"
    [bodyTextColor]="'#0c112b'"
    [headerTextColor]="'#675858'"
    [headerTextFontsSize]="14"
    [bodyTextFontsSize]="14"
    [bodyFontWeight]="400"
    [checkedRowBackgroundColor]="'aliceblue'"
    [dropdownsBackgroundColor]="'#f8f8f8'"
  ></data-grid>
</div>
